aioredis
annotated-types
anyio
async-timeout
bidict
click
exceptiongroup
fastapi
gunicorn
h11
idna
netifaces
packaging
pydantic
pydantic_core
python-engineio
python-socketio
pytz
redis
simple-websocket
sniffio
socketio
starlette=
typing_extensions
uvicorn
wsproto
