.App {
	height : 100vh;
	width: 100vw;
	.header {
		background-color: skyblue;
		height: 50px;
			color: white;
    }
    .sider {
				background-color: wheat;
			}
			.screen {
				background-color: wheat;
				display: flex;
				justify-content: center;
				flex-direction: column;
				height: 100%;
				.content {
					display: flex;
					flex-direction: column;
					max-height: 100%;
					max-width: 100%;
					overflow-y: scroll;
					.나 {
						background-color: skyblue;
						margin : 10px 0;
						padding: 3px 10px;
						border-radius: 8px;
						word-wrap: break-word;
						inline-size: auto;
						list-style-type : none;
						font-size: 18px;
						align-self: flex-end;
						// text-align: right;
						
						}
					.상대 {
						background-color: skyblue;
						margin : 10px 0;
						padding: 3px 10px;
						border-radius: 8px;
						word-wrap: break-word;
						inline-size: auto;
						list-style-type : none;
						font-size: 18px;
						align-self: flex-start;
						// text-align: left;
						}
				}
				.input {
					margin: auto 10% 0 10% ;
					flex-flow:row nowrap;
				}
				.ready {
					margin : auto;
					font-size: 20px;
				}
    	}
    .footer {
				height: 50px;
		}
}